.update-container{
    padding: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: flex;
    width: 494px !important;

}
.update{
    display: flex;
    justify-content: flex-start;
}
.update-title{
    display: flex;
    width:  450px;
    text-align: start;
    padding-left: 1%;

}
.update-icon{
    display: flex;
    margin: 2%;
}

